*.npy
*.csv
*.nc
*.so
tests.ipynb
**/__pycache__/
.vscode/launch.json
tests/outputs/
models/eight.stan
tests/test_data.json
.DS_Store
nutpie_ref.egg-info/PKG-INFO
nutpie_ref.egg-info/SOURCES.txt
nutpie_ref.egg-info/dependency_links.txt
nutpie_ref.egg-info/top_level.txt
tests/data/norm_constr.json
bjx.py
nutpie-ref.code-workspace
